#searchbox{
	margin-top: 20px;
	width: 20%;
	display: inline-block;
}
#submit{
	display: inline-block;
}
.form-inline{
	margin-bottom: 15px;
}

th{
	font-family: 'Bree Serif', serif;
}

td{
	font-family: 'Neuton', serif;
	font-size: 20px;
}

body {
	background-image: url("background-image.jpg");
}